<a href="https://colab.research.google.com/github/Gplskuall/hello-world/blob/master/Copy_of_Basics_of_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Phyton basics for astronomy

In [ ]:
print ("Hello world!")

Hello world!

## 1. comments

In [ ]:
# These are multi line strings, NOT comments

"""
this is my first line of comment
this is my second line of comment
"""
print ("test1")

test1

In [ ]:
# To do this, select text, then command + /
# this is my first line of comment
# this is my second line of comment
# jhfhghdfg
print ("testing, only this should print")
# hgdhgdhgf
# hgdhg
# hhg

testing, only this should print

## 2. Variables and constants

In [ ]:
# Uppercase X or Y indicate Constant
# lowercase x or y indicate variable

X = 3
y = 2
x = 7
print (y + X + y + X )

y = 44
print (y + X + y + X)

10
94

## 3. Data types

In [ ]:
# Create variables to store information about a planet in our solar system

planet_name = 'Venus'
planet_age = '4.6 Billion years'
planet_index = 1
# In python Index starts at 0, mercury is 0, venus is 1 and earth is 2

In [ ]:
# Display data value for each variable

print (planet_name)
print (planet_age)
print (planet_index)

Venus
4.6 Billion years
1

In [ ]:
# Checking variable types

print (type(planet_name))
print (type(planet_age))
print (type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
z = 4.2
print (z)
print (type(z))

4.2
<class 'float'>

## 4. f-strings

In [ ]:
# Learning the power of f-strings

name_planet = 'Saturn'
number_moons_planet = 146
print (f'Planet {name_planet} has {number_moons_planet} moons')

Planet Saturn has 146 moons

In [ ]:
# String concatenation

str_1 = "Earth is the only planet with life."
str_2 = "Maybe not!"
print (str_1 + ' ' + str_2)

#or using f-strings:

print (f'{str_1} {str_2}' )

Earth is the only planet with life. Maybe not!
Earth is the only planet with life. Maybe not!

## 5. User input

In [ ]:
# Using Input () to take user inputs

user_name = input ('Enter your name: ')
user_last_name = input ('Enter your last name: ')
user_fav_number = input ('Enter your favorite number: ')
user_age = input ('Enter your age: ')
print (user_name)
print (type(user_name))
print (user_last_name)
print (type(user_last_name))
print (user_fav_number)
print (type(user_fav_number))
print (user_age)
print (type(user_age))

Enter your name: G
Enter your last name: p
Enter your favorite number: 7
Enter your age: 37.5\
G
<class 'str'>
p
<class 'str'>
7
<class 'str'>
37.5\
<class 'str'>

## 6. Data type conversion

In [ ]:
# Convert string date into an integer and float

str_to_int = int (user_fav_number)
print (str_to_int)
print (type(str_to_int))

str_to_float = float (user_fav_number)
print (str_to_float)
print (type(str_to_float))
print (str_to_int + 100 )
print (str_to_float + 50.2)
print (str_to_int + str_to_float)
print (type (str_to_int + str_to_float))

7
<class 'int'>
7.0
<class 'float'>
107
57.2
14.0
<class 'float'>

In [ ]:
# Get user input of two integers and add them together

n1 = int(input('Enter an integer: '))
n2 = int(input('Enter another integer: '))
print (f'The sum of {n1} and {n2} is {n1+n2} ')

Enter an integer: 10
Enter another integer: 4
The sum of 10 and 4 is 14